<html ng-app="shoplist">
    <head>

    </head>
    <body ng-controller="list">
        <h1>
            Olá! {{hue}}
        </h1>
        <script src="js/angular.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/shoplist.js"></script>
    </body>
</html>